/*
main colors:
  usage:
    yellow + black
    blue + white
*/
:root {
  --yellow: #E9B311;
  --black: #0D0605;
  --blue: #015A9E;
  --white: #ffffff;
}

body {
    background-color: var(--white);
    padding: 0;
    margin: 0;
}

/*
navigation bar
*/
.flag {
  height: 50px;
  position: center;
}

nav {
  background-color: var(--blue);
  height: 2.25rem;
  padding: .25rem;
}

nav ul {
  list-style-type: none;
  margin: 0;
}

nav > ul {
  overflow: visible;
}
    
nav > ul > li {
  float: left;
  margin-right: 2px;
}
      
nav ul li a, nav ul li span {
  display: block;
  margin: 0;
  padding: .25rem;
  border-radius: 1px;

  min-width: 7rem;

  text-decoration: none;
  color: var(--white);
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
  transition: .3s ease-in-out;
}

nav ul li ul li a {
  background-color: var(--blue);
}
      
nav ul li a:hover,
nav ul li span:hover,
nav ul li ul li a:hover {
  color: var(--blue);
  background-color: var(--white);
  transition: .3s ease-in-out;
}

/*
dropdown
*/

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 2.2rem;
  left: -2.5rem;
  z-index: 1;
}

.dropdown-content li a {
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* main-content */

.main-content {
  min-height: calc(100vh - 12rem);
  margin: 1rem;
}

.main-content .main-background {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: -1;
}

.main-content .main-background .logo {
  height: 90vh;
}

/* footer */

footer {
  height: 8rem;
  padding: 1rem;
  background-color: var(--blue);
  color: var(--white);
  font-size: 1.5rem;
  font-weight: 600;
}

footer img.email {
  position: relative;
  top: .5rem;
  height: 2rem;
}


#msg {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
    font-size: 48px;
    color: var(--yellow);
    background-color: var(--black);
    border: solid 2px var(--yellow);
}